body
{background: rgb(152,13,37);
    background: linear-gradient(0deg, rgba(152,13,37,1) 44%, rgba(167,9,54,1) 77%);
    font-family: 'Pushster', cursive;
    text-align: center;
    margin: 0;
}

/*image*/
.taille
{height: 100px;

}

.menu
{
    color: white;
    font-size: 40px;
    border-bottom: solid 2px;
}

.ligne
{border: solid 1px;

}

footer
{
    color: white;
    background: #e2062c;
}