html
{min: width 495px; ;
	max-width: 500px;
	margin-right: 0;
	padding: 0;
}
body
{
	background: rgb(152,13,37);
	background: linear-gradient(0deg, rgba(152,13,37,1) 44%, rgba(167,9,54,1) 77%);
	font-family: 'Pushster', cursive;
	text-align: center;
	
}

/*image*/
.tailleS
{
	height: 80px;
    width: 100%;
	background-size: cover;
}

.taille
{
	height: auto;
    width: 100%;
	position: relative;
	z-index: -10;
    background-size: cover;
}

h1
{
	font-size: 1.2em;
	margin-bottom: 0;
}

.menuglobal
{
	position: absolute;
	text-align: center;
}

.menu
{
	color: white;
	font-size: 40px;
	text-align: center;
}

.ligne
{
	border: solid 1px;
}

.description
{
	padding-bottom: 5px;
}

footer
{width: auto;
	color: white;
	background: #e2062c;
    font-family: 'Courier New', Courier, monospace;
}